

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
   
    background-repeat: no-repeat;
 background-size: cover;
}
.banner{
    background-image: url("images/bg.jpg");
}
nav img{
    float:left;
}
nav ul {
    float: right;
    margin: 10px;
  margin-left: 350px;
   letter-spacing: 0.5px;
   
}

.nav-link{
    color: white;
    font-family: "poppins";
    margin-left: 20px;
}
.nav-link:hover {
    color: white;
}

.container h1{
    color: white;
    font-size: 50px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
   margin-top:200px;
}
.container p{
    color: lightgray;
  letter-spacing: 1.5px;
  font-size: 22px;
    font-family: "poppins", sans-serif;
}
.form-control{
    height: 60px;
  
}
.btn {
    width: 200px;
    height: 50px;
    border-radius: 0px 30px 30px 0px;
}
.img1{
    height: 60px;
    width: 60px;
    margin-top: 50px;
    margin-bottom : 20px;
   
}
h4 {
    font-family: "poppins" , sans-serif;
    font-size: 20px;
    color: rgb(99, 98, 98);
    margin-bottom: 60px;
    
}
.content{
    margin-top: 60px;
}
h5{
    color: rgb(121, 120, 120);
}
.card-img-overlay{
    margin-top: 310px;

}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: green;
    display: flex;
    
}
.card-title{
    color: white;
    font-size: 20px;
    font-family: "poppins" , sans-serif;
    margin-left: 15px;
}
.icon-img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
}
.card-text{
    margin-left: 15px;
}